/*
 This file is part of Pozettos.

    Pozettos is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pozettos is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

		You should have received a copy of the GNU General Public License
    along with Pozettos.  If not, see <http://www.gnu.org/licenses/>.

*/

/*******************************************
**            ZONA SERVICIOS              **
********************************************/
.zona_historial
{
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	border: 1px solid #4F8FFF;
}

/*******************************************
**            HISTORIAL SERVICIOS         **
********************************************/
tr.odd { background: #e6f2ff;}
tr.even { background: #fff;}

.celda_debe
{
	background-color: #f00;
}
.celda_pago
{
	background-color: #0f0;
}
.imagen_delete
{
	width: 10px;
	height: 10px;
	border: none;
}
.boton_delete
{
	padding: 0px;
	background: #fff;
}
.imagen_color
{
	width: 18px;
	height: 18px;
	border: none;
}
.imagen_deuda
{
	width: 15px;
	height: 15px;
	border: none;
}
.boton_color
{
	width: 16px;
	height: 16px;
}