/*
 This file is part of Pozettos.

    Pozettos is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pozettos is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

		You should have received a copy of the GNU General Public License
    along with Pozettos.  If not, see <http://www.gnu.org/licenses/>.

*/

/*******************************************
**            ZONA OPCIONES              **
********************************************/
.zona_opciones
{
	border: 1px solid #4F8FFF;
	max-width: 700px;
}
.fila_boton_generar
{
	background: #d0dfff;
}
.fila_boton_generar button
{
	background: #fff;
}
.tbl_resumen
{
  margin-top: 15px;
  width: 400px;
  border: 1px solid #4F8FFF;
  font-family:Verdana;
  color:#4F8FFF;
  font-size:9pt;
}
.tbl_resumen thead
{
  background: #4F8FFF;
  color: #FFF;
  font-weight:bold;
}
.tbl_resumen td
{
  height: 20px;
  border-bottom: #d0dfff solid 1px;
}
.tbl_resumen .celda_total
{
  color: #F00;
  background: #d0dfff;
  font-weight:bold;
}
.tbl_resumen .celda_subtotal
{
  background: #d0dfff;
  font-weight:bold;
}
.tbl_resumen_2
{
  margin-top: 15px;
  width: 400px;
  border: 1px solid #999;
  font-family:Verdana;
  font-size:9pt;
  font-weight:bold;
}
.tbl_resumen_2 thead
{
  background: #999;
  color: #FFF;
}
.tbl_resumen_2 td
{
  height: 20px;
  border-bottom: #999 solid 1px;
}
.tbl_resumen_2 .celda_total
{
  color: #F00;
  background: #fff;
}